/*

	I AM THE SILENT STORM	
	ping me at tinka.edgar@gmail.com
	https://edgar256.github.io/

*/

body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/*font-family: "Open Sans",sans-serif;*/
	font-size: 20px;
}
@media screen and (max-width: 425px){
	body{
		font-size: 20px;
	}
}


.header{
	font-size: 25px;
	background-image: url("../images/front-wall-paper-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
}
.headerContent{
	color: #fff;
	padding-top: 150px;
}
.greeting, .job, .boast{
	font-size: 20px;
	padding: 2px;
}
.intro{
	font-size: 35px;
}
@media screen and (max-width: 425px){
	.intro {
    	font-size: 35px;
    	padding: 15px;
	}
}
.proImg{
	border-radius: 100px;
    margin: 30px;
}
.headerText{
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px; 
}
@media screen and (max-width: 425px){	
	.headerText {
    	font-size: 22px;
	}
	.greeting, .job, .boast{
		padding: 15px;
	}
	.header{
		height: 800px;
	}
	.headerContent {	    
		padding-top: 30px;
	}
	.proImg{
		width: 100px;
	}
}
.work, .tech{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 30px;
}
.work-img-inner{
	width: 700px;
	margin-left: -15px;
}
@media screen and (max-width: 1165px){
	.work-img{
		display: none;
	}
	.workContent {
	    margin-top: 40px;
	    text-align: center;
	    width: 80%;
	    margin-right: 10%;
	    margin-left: 10%;
	}
}
.workContent{
	margin-top: 40px; 
}
.workList{
	line-height: 2em;
}
.clear{
	clear: both;
}
.logoWrapper{
	width: 80%;
	margin-right: 10%;
    margin-left: 10%;
    /*display: inline-flex;*/
    padding: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    /*margin: 5% 10% 0% 10%;
    padding: 2rem 0;*/
}
.logoWrapperInner{
	width: 25%;
	padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
@media screen and (max-width: 930px){
	.logoWrapper {
	    width: 90%;
	    margin-right: 5%;
	    margin-left: 5%;
    }
	.logoWrapperInner{
		width: 50%;
		padding-left: 15%;
    	padding-right: 15%;
	}
}
.didKnow{
	text-align: center;
    font-size: 18px;
    margin: 10% 20% 10% 20%;
    color: #cfd9dd;
    border: 2px solid #cfd9dd;
    padding: 45px;
}
@media screen and (max-width: 425px){
	.didKnow {
	    text-align: center;
	    font-size: 20px;
	    margin: 10% 10% 10% 10%;
	    color: #cfd9dd;
	    border: 2px solid #cfd9dd;
	    padding: 15px;
	}
}
/*Projects Area*/
.cards{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5% 10% 0% 10%;
    padding: 2rem 0;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
    transition: all .25s;
    transition-property: box-shadow,transform;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    width: calc(33% - 1rem);
    vertical-align: top;
    margin: 0 1.5rem 3rem;/*0 .5rem 1rem;*/
    min-height: 450px;
    max-width: 320px;
}
.cardHeader{
	font-weight: 500;
	padding: 15px;
}
.cardBody{
	font-size: 15px;
	padding: 15px;
}
.card:hover{
	text-decoration: none;
	font-size: 24px;
	/*width: calc(33.3% - 1rem);
	margin: 0 0rem 0rem;*/
}
a:hover{
	text-decoration: none;
}
@media screen and (max-width: 425px){
	.card{
		width: 100%;
	}
	.logoWrapperInner > img{
		width: 100%;
	}
}
.cardHeader, .cardBody{
	color: #232323;
}
/*End Projects Area*/

/*Buttons*/
.btnWrapper{
	padding: 25px;
}
.btnTech, .btnProject{
	border-radius: 30px;
	padding: 10px;
    font-size: 15px;
    width: 200px;
}
.btnTech:hover , .btnProject:hover{
	font-size: 17px;
	color: #fff;
}
.btnTech{
	background: #449f42;
	color: #fff;
}
.btnProject{
	background-color: #4c647e;
	color: #fff;
}
/*End Buttons*/

/*Footer section*/

.footerWrapper{
	background-color: #35414d;
	color: #6c7b87;
	font-size: 12px;
	text-align: center;
	padding: 30px;
}

/*End of Footer section*/

/*Clock section*/
.dateClockWrapper{
	display: inline-grid;
	float: right;
	margin: 10px 40px 0px 0px;
}
.mainClock{
	color: #fff;
    font-size: 40px;
    display: inline-flex;
    text-align: center;
    margin: auto; 
}
.dateWrapper{
	font-size: 20px;
    color: #fff;
    display: inline-flex;
    text-align: center;
    margin: auto;
}
@media screen and (max-width: 425px){
	.dateClockWrapper{
		margin: auto;
    	float: none;
    	width: 100%;
	}
}
/*End Clock section*/