body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  scroll-behavior: smooth 5s;
}

/* Animations */
@keyframes ease-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.ease-in {
  animation: ease-in 0.5s;
}

.cursor {
  position: fixed;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  animation: cursorPulse 1s ease-out infinite;
}
.rounded-custom{
  border-radius: 30px !important;
}

@keyframes cursorPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cursor.active {
  background-color: #ffffff;
  border-color: #000000;
}

a:hover,
button:hover {
  cursor: none;
}

a:hover .cursor,
button:hover .cursor {
  animation: none;
  transform: translate(-50%, -50%) scale(0.8);
}

a:focus,
button:focus {
  outline: none;
}

a:focus .cursor,
button:focus .cursor {
  animation: none;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #ffffff;
  border-color: #000000;
}
.cursor-link {
  cursor: pointer;
  text-decoration: none;
}
.cursor-link:hover {
  color: #007bff !important;
}
