body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth 5s;
}

.ease-in-image {
  animation-name: ease-in-image;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
}
.ease-in-text {
  animation-name: ease-in-text;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
}
.nav-area{
  position: fixed;
  background-color: black;
  z-index: 1;
}

/* Animations */
@keyframes ease-in-image {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes ease-in-text {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .Typewriter{
    height: 100px;
  }
}
